#footer {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    place-items: center;
    max-height: 100vh;
    margin-top: 16px;
}

@media (min-width: 1024px) {
    #footer {
        display: flex;
        place-items: center;
        width: 80%;
        margin: 0 auto;
    }

}