@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--base-blue);
  transition: 0.4s;
  width: 12rem;
  font-size: 16px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 5px solid var(--base-blue);
}

.colored-phrase {
  color: var(--base-blue);
}
.colored-phrase__second-part {
  color: var(--base-orange);
}
.present-row {
  padding-bottom: 16px;
}

.present-row *{
  font-weight: bold;
}
.present-row .present-row-item {
  flex-basis: 49.95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--base-blue);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }

  .present-row .present-row-item {
    flex-basis: 20%;
  }
}
